
:root {
  --accent: #8FBCBB;
}
.App {
}

.bg-accent {
  background-color: var(--accent) !important;
}


html, body {
  padding: 0;
  margin: 0;
}

.content {
  width: 80%;
  margin: auto;
  max-width: 1000px;
}

.vote-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

